$black : #000000;
$white: #FFFFFF;
$greylight : #F6F6F6;
$greyhalf : #EAEAEA;
$greydark : #353535;
$purple : #9356DC;
$greenlight: #a9e0d1;
$greendark: #3b8468;
$gradient: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
$box-shadow1: 0px 2px 4px 0px #00000026;
$shadow_button: 0px 4px 10px 0px #00000040;

$title: 24px !important;
$name: 18px;
$thin: 300;
$middle: 500;
$large: 700;
$margin_default: 20px;
