@import './color';


@mixin body_default {
    font-family: Roboto;
    margin: 0;
}

@mixin a_default {
    text-decoration: none;
    color: $black;
}

@mixin flex_center { 
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex_column {
    display: flex;
    flex-direction: column;
}

@mixin flex_center_simple {
    display: flex;
    text-align: center;
}

@mixin flex_column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin button {
    background: $gradient;
    height: 50px;
    width: 218px;
    border-radius: 25px;
    border: 0px;
    color:  $white;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
    box-shadow: $shadow_button;
}
