/* FOOTER */
.footer__container {
  background-color: #353535;
  padding: 15px 0px 20px 30px;
  color: #FFFFFF;
}
.footer__container .footer__container--h1 {
  font-family: Shrikhand, "cursive";
  font-size: 24px !important;
  font-weight: 200;
}
.footer__container .footer__container--h4 {
  font-weight: 500;
  margin: 0px 0px 10px 0px;
}
.footer__container .footer__container--p {
  font-weight: 300;
  margin: 0px 0px 10px 0px;
}
.footer__container a {
  color: #FFFFFF;
}

body {
  font-family: Roboto;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

/* Header */
.header__logo {
  display: flex;
  align-items: center;
  padding-top: 10px;
  height: 63px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  position: relative;
  z-index: 10;
}
.header__logo--icon {
  padding-left: 20px;
  display: inline;
  font-size: 17px;
}
.header__logo--img {
  z-index: 0;
  margin: auto;
  width: 197px;
  height: auto;
}

/* Image */
.header_image {
  height: 275px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  z-index: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  border-radius: 50px 50px 0px 0px;
  padding: 10px 20px 0 20px;
  position: relative;
  top: -60px;
}
.menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__header--h1 {
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 400;
}
.menu__header--icon {
  margin-right: 20px;
  font-size: 24px;
}
.menu__header--icon .fa-regular.fa-heart {
  display: flex;
}
.menu__header--icon .fa-solid {
  display: flex;
  opacity: 0;
  transition: all 350ms ease-in-out;
}
.menu__header--icon:hover {
  cursor: pointer;
}
.menu__header--icon:hover .fa-regular.fa-heart {
  opacity: 0;
}
.menu__header--icon:hover .fa-solid.fa-heart {
  display: inline;
  color: transparent;
  background-image: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
          background-clip: text;
  opacity: 1;
}

/* SECTIONS */
.section {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
}
.section__title {
  display: flex;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  margin: 10px 0px 0px 0px;
  border-bottom: 3px solid #a9e0d1;
  padding-bottom: 5px;
  width: 40px;
}
.section__card {
  display: flex;
  justify-content: space-between;
  height: 72px;
  padding-left: 15px;
  border-radius: 15px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  overflow: hidden;
  white-space: nowrap;
}
.section__card--entree {
  animation: fade-in-top 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.section__card--plat {
  animation: fade-in-top 1s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
}
.section__card--dessert {
  animation: fade-in-top 1s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both;
}
.section__card:hover .section__card__box--check {
  margin-right: 0;
}
.section__card__text {
  display: flex;
  flex-direction: column;
  margin-top: 9px;
  white-space: nowrap;
  overflow: hidden;
}
.section__card__text--plat {
  font-size: 18px;
  font-weight: 500;
  margin: 5px 0px 0px 0px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.section__card__text--description {
  font-size: 15px;
  font-weight: 300;
  margin: 5px 0px 0px 0px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.section__card__box {
  display: flex;
}
.section__card__box--price {
  display: flex;
  align-items: flex-end;
  font-size: 17px;
  font-weight: 500;
  margin-right: 15px;
}
.section__card__box--check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 59px;
  font-size: 20px;
  background-color: #a9e0d1;
  color: #FFFFFF;
  margin-right: -59px;
  transition: all 0.5s;
}

/* PLATS 
.plats {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;

    .plats__title {
        display: flex;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 300;
        margin: 20px 0px 0px 0px !important;
        border-bottom: 3px solid #a9e0d1;
        padding-bottom: 5px;
        width: 40px;
    }

    .plats__card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 72px;
        padding: 0px 15px;
        border-radius: 15px;
        background-color: #FFFFFF;
        box-shadow: 0px 4px 15px 0px #00000026;
        animation: fade-in-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s both;
    }

    .plats__card__text {
        display: flex;
        flex-direction: column;

        .plats__card--plat {
            display: inline-flex;
            font-size: 18px;
            font-weight: 500;
            margin: 5px 0px 0px 0px;
        }

        .plats__card--description {
            display: inline-flex;
            font-size: 15px;
            font-weight: 300;
            margin: 5px 0px 0px 0px;
        }

        .plats__card--price {
            display: flex;
            align-self: flex-end;
            font-size: 17px;
            font-weight: 500;
            margin: 0px 0px 15px 0px;
        }
    }
}

/* DESSERTS 
.desserts {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;

    .desserts__title {
        display: flex;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 300;
        margin: 20px 0px 0px 0px !important;
        border-bottom: 3px solid #a9e0d1;
        padding-bottom: 5px;
        width: 40px;
    }

    .desserts__card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 72px;
        padding: 0px 15px;
        border-radius: 15px;
        background-color: #FFFFFF;
        box-shadow: 0px 4px 15px 0px #00000026;
        animation: fade-in-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
    }

    .desserts__card__text {
        display: flex;
        flex-direction: column;

        .desserts__card--plat {
            display: inline-flex;
            font-size: 18px;
            font-weight: 500;
            margin: 5px 0px 0px 0px;
        }

        .desserts__card--description {
            display: inline-flex;
            font-size: 15px;
            font-weight: 300;
            margin: 5px 0px 0px 0px;
        }

        .desserts__card--price {
            display: flex;
            align-self: flex-end;
            font-size: 17px;
            font-weight: 500;
            margin: 0px 0px 15px 0px;
        }
    }
}*/
.footer__container {
  margin-top: -60px;
}

.intro__button {
  align-self: center;
  margin: 40px 0px 40px 0;
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  height: 50px;
  width: 218px;
  border-radius: 25px;
  border: 0px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
}
.intro__button:hover {
  opacity: 0.9;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 1px 5px 10px 0px rgba(0, 0, 0, 0.5019607843);
}

@keyframes fade-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* MEDIA QUERIES */
@media screen and (min-width: 1100px) {
  .menu {
    margin-left: auto;
    margin-right: auto;
    width: 1000px !important;
  }
  .menu__header {
    gap: 30px;
    align-self: center;
  }
  .section {
    width: 630px;
    align-self: center;
  }
}/*# sourceMappingURL=menupage.css.map */