@import './color';
@import './mixin';
@import './footer.scss';

body {
    @include body_default;
}

a {
    @include a_default;
}


/* Header */
.header__logo {
    display: flex;
    align-items: center;
    padding-top: 10px;
    height: 63px;
    box-shadow: $box-shadow1;
    position: relative;
    z-index: 10;


&--icon {
    padding-left: 20px;
    display: inline;
    font-size: 17px;
}

&--img {
    // transform: translate(-20px);
    z-index: 0;
    margin: auto;
    width: 197px;
    height: auto;
}
}

/* Image */
.header_image {
    height: 275px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    z-index: 0;
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    border-radius: 50px 50px 0px 0px;
    padding: 10px 20px 0 20px;
    // transform: translate(0px, -30px);
    position: relative;
    top: -60px;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--h1 {
            font-family: Shrikhand;
            font-size: 28px;
            font-weight: 400;
        }

        &--icon {
            margin-right: 20px;
            font-size: 24px;
            @include hover_heart;
        }
    }
}

/* SECTIONS */
.section {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;

    &__title {
        display: flex;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 300;
        margin: 10px 0px 0px 0px;
        border-bottom: 3px solid #a9e0d1;
        padding-bottom: 5px;
        width: 40px;
    }

    &__card {
        display: flex;
        justify-content: space-between;
        height: 72px;
        // padding: 0px 15px;
        padding-left: 15px;
        border-radius: 15px;
        background-color: #FFFFFF;
        box-shadow: 0px 4px 15px 0px #00000026;
        overflow: hidden;
        white-space: nowrap;

        &--entree {
            animation: fade-in-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        }

        &--plat {
            animation: fade-in-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s both;
        }

        &--dessert {
            animation: fade-in-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
        }

        &:hover &__box--check {
            margin-right: 0;
        }
    }

    &__card__text {
        display: flex;
        flex-direction: column;
        margin-top: 9px;
        white-space: nowrap;
        overflow: hidden;

        &--plat {
            font-size: 18px;
            font-weight: 500;
            margin: 5px 0px 0px 0px;
            text-overflow: ellipsis;
            overflow: hidden;

        }

        &--description {
            font-size: 15px;
            font-weight: 300;
            margin: 5px 0px 0px 0px;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    &__card__box {
        display: flex;

        &--price {
            display: flex;
            align-items: flex-end;
            font-size: 17px;
            font-weight: 500;
            // margin-bottom: 12px;
            margin-right: 15px;
        }

        &--check {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 59px;
            font-size: 20px;
            background-color: $greenlight;
            color: $white;
            margin-right: -59px;
            transition: all 0.5s;
        }
    }
}

/* PLATS 
.plats {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;

    .plats__title {
        display: flex;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 300;
        margin: 20px 0px 0px 0px !important;
        border-bottom: 3px solid #a9e0d1;
        padding-bottom: 5px;
        width: 40px;
    }

    .plats__card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 72px;
        padding: 0px 15px;
        border-radius: 15px;
        background-color: #FFFFFF;
        box-shadow: 0px 4px 15px 0px #00000026;
        animation: fade-in-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s both;
    }

    .plats__card__text {
        display: flex;
        flex-direction: column;

        .plats__card--plat {
            display: inline-flex;
            font-size: 18px;
            font-weight: 500;
            margin: 5px 0px 0px 0px;
        }

        .plats__card--description {
            display: inline-flex;
            font-size: 15px;
            font-weight: 300;
            margin: 5px 0px 0px 0px;
        }

        .plats__card--price {
            display: flex;
            align-self: flex-end;
            font-size: 17px;
            font-weight: 500;
            margin: 0px 0px 15px 0px;
        }
    }
}

/* DESSERTS 
.desserts {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;

    .desserts__title {
        display: flex;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 300;
        margin: 20px 0px 0px 0px !important;
        border-bottom: 3px solid #a9e0d1;
        padding-bottom: 5px;
        width: 40px;
    }

    .desserts__card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 72px;
        padding: 0px 15px;
        border-radius: 15px;
        background-color: #FFFFFF;
        box-shadow: 0px 4px 15px 0px #00000026;
        animation: fade-in-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
    }

    .desserts__card__text {
        display: flex;
        flex-direction: column;

        .desserts__card--plat {
            display: inline-flex;
            font-size: 18px;
            font-weight: 500;
            margin: 5px 0px 0px 0px;
        }

        .desserts__card--description {
            display: inline-flex;
            font-size: 15px;
            font-weight: 300;
            margin: 5px 0px 0px 0px;
        }

        .desserts__card--price {
            display: flex;
            align-self: flex-end;
            font-size: 17px;
            font-weight: 500;
            margin: 0px 0px 15px 0px;
        }
    }
}*/

.footer__container {
    margin-top: -60px;
}

.intro__button {
    align-self: center;
    margin: 40px 0px 40px 0;
    @include button;

    &:hover {
        @include button-hover;
    }
}


@keyframes fade-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* MEDIA QUERIES */

@media screen and (min-width: 1100px) {
    .menu {
        margin-left: auto;
        margin-right: auto;
        width: 1000px !important;
    }

    .menu__header {
        gap: 30px;
        align-self: center;
    }

    .section {
        width: 630px;
        align-self: center;
    }
}