@import './color';
@import './mixin';

body {
   @include body_default;
}

a {
   @include a_default;
}

/* Loader */
.loader {
   height: 100%;
   background: white;
   margin: auto;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 20;
   animation: loader_bckg 1.5s linear;
   visibility: hidden;

   &__text {
      @include flex-center;
      font-family: Shrikhand, "cursive";
      color: black;
      text-shadow: 4px 4px 2px rgba(147, 86, 220, 0.6);
      font-size: 50px;
      margin-top: 200px;
      animation: text_expand 1.5s cubic-bezier(0.165, 0.840, 0.440, 1.000);
   }
}

@keyframes loader_bckg {
   0% {
      visibility: visible;
      opacity: 1;
   }

   90% {
      opacity: 0.9;
   }

   100% {
      opacity: 0;
      visibility: hidden;
   }
}

@keyframes text_expand {
   0% {
      letter-spacing: -0.5em;
      opacity: 0;
   }

   40% {
      opacity: 0.6;
   }

   100% {
      opacity: 1;
   }
}

/* Header */
.header__logo {
   @include flex_center;
   padding-top: 10px;
   height: 63px;
   box-shadow: $box-shadow1;
   position: relative;
   z-index: 1;
}

.header__logo--img {
   width: 197px;
   height: auto;
}


/* Location */
.location {
   @include flex_center;
   background-color: $greyhalf;

   .location__icon {
      width: 13px;
      height: 17px;
      padding-right: 10px;
      padding-bottom: 3px;
      color: $greydark;
   }

   .location__text {
      font-size: 16px;
      font-weight: $middle;
      color: $greydark;
   }
}

/* Intro */
.intro {
   @include flex_column-center;
   background-color: $greylight;
   padding: 40px 40px 60px 40px;

   .intro__title {
      @include flex_center_simple;
      font-size: $title;
      font-weight: $large;
      margin: 0px;
   }

   .intro__subtitle {
      @include flex_center_simple;
      font-size: 18px;
      font-weight: $thin;
      margin: 15px 0px 20px 0px;
      // Voir comment faire tenir le texte en une ligne
   }

   .intro__button {
      @include flex_center;
      @include button;

      &:hover {
         @include button-hover;
      }
   }
}

/* Fonctionnement */
.fonctionnement {
   @include flex_column;
   margin: 40px 20px 50px 20px;


   .fonctionnement__title {
      display: flex;
      font-size: $title;
      font-weight: $large;
   }

   .fonctionnement__card {
      @include flex_center_simple;
      margin-left: auto;
      margin-right: auto;
      margin-top: 15px;
      margin-bottom: 15px;
      width: 322px;
      height: 73px;
      background-color: $greylight;
      border-radius: 20px;
      border: 0px;
      box-shadow: $shadow_button;

      &:hover {
         @include button-hover;

         i {
            color: $purple;
         }
      }


      .fonctionnement__card--number {
         @include flex_center;
         align-self: center;
         width: 25px;
         height: 25px;
         background-color: $purple;
         font-size: 14px;
         color: $white;
         border-radius: 100px;
         transform: translate(-15px);
      }

      .fonctionnement__card--icon {
         @include flex_center;
         margin: 15px;
      }

      .fonctionnement__card--text {
         @include flex_center;
         font-size: 16px;
         font-weight: $middle;
      }
   }
}

/* Restaurant */
.restaurants {
   @include flex_column;
   background-color: $greylight;
   padding: 30px 0px;


   .restaurants__title {
      display: flex;
      margin: $margin_default;
   }

   .restaurants__card {
      @include flex_column;
      height: 251px;
      border-radius: 15px;
      overflow: hidden;
      background-color: $white;
      margin: $margin_default;

      &:hover {
         @include button-hover;
      }

      .new {
         display: grid;
         position: absolute;
         text-align: center;
         place-items: center;
         width: 80px;
         height: 29px;
         margin-top: 13px;
         margin-left: 248px;
         background-color: $greenlight;
         color: $greendark;
         font-weight: 500;
         font-size: 14px;
         border-radius: 5%;
      }

      .restaurants__card--img {
         display: flex;
         box-sizing: border-box;
         object-fit: cover;
         height: 180px;
      }
   }

   .restaurants__card__info {
      @include flex_center;
      justify-content: space-between;
      margin-left: 10px;

      .restaurants__card__info--name {
         display: inline-flex;
         font-size: $name;
         font-weight: $large;
         margin: 15px 0px 0px 0px;
      }

      .restaurants__card__info--location {
         display: inline-flex;
         font-size: 17px;
         font-weight: $thin;
         margin: 2px 0px 0px 0px;
      }

      .restaurants__card__info--heart {
         font-size: $name;
         margin: 10px 20px 0px 0px;
         @include hover_heart;
      }

      .restaurants__card__info__text {
         @include flex_column;
      }
   }
}

/* MEDIA QUERIES */

// @media screen and (min-width: 1100px) {
//    .fonctionnement {
//       display: flex;
//       flex-direction: row;

//       &__title {
//          align-self: center;
//       }
//    }

// }