 * {
     font-family: Roboto;
 }

 body {
    margin: 0;
 }

 a {
    text-decoration: none;
    color: black;
 }


 /* HEADER */
 .header__logo {
     display: flex;
     justify-content: center;
     align-items: center;
     padding-top: 10px;
     height: 63px;
     box-shadow: 0px 2px 4px 0px #00000026;
     position: relative;
     z-index: 1000;
 }

 .header__logo--img {
     width: 197px;
     height: auto;
 }

 /* Location */
 .location {
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #EAEAEA;
 }

 .location__icon {
     width: 13px;
     height: 17px;
     padding-right: 10px;
     padding-bottom: 3px;
     color: #353535;
 }

 .location__text {
     font-size: 16px;
     font-weight: 500;
     color: #353535;
 }


 /* MAIN */

 /* Intro */
 .intro {
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: #F6F6F6;
     padding: 40px;
 }

 .intro__title {
     display: flex;
     text-align: center;
     font-size: 24px !important;
     font-weight: 700;
     margin: 0px;
 }

 .intro__subtitle {
     display: flex;
     text-align: center;
     font-size: 18px;
     font-weight: 300;
     margin: 15px 0px 20px 0px;
 }

 .intro__button {
     display: flex;
     justify-content: center;
     align-items: center;
     background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
     height: 50px;
     width: 218px;
     border-radius: 25px;
     border: 0px;
     color: white;
     font-size: 16px;
     font-weight: 500;
     margin-bottom: 15px;
     box-shadow: 0px 4px 10px 0px #00000040;
 }


 /* FONCTIONNEMENT */

 .fonctionnement {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 40px 20px 50px 20px;
 }

 .fonctionnement__title {
    display: flex;
    font-size: 24px !important;
    font-weight: 700;
 }

 .fonctionnement__card {
    display: flex;
    align-items: center;
    width: 322px;
    height: 73px;
    background-color: #F6F6F6;
    border-radius: 20px;
    border: 0px;
    box-shadow: 0px 4px 15px 0px #00000026;
    margin: 15px;
}

 .fonctionnement__card--number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color:#9356DC;
    font-size: 14px;
    color: white;
    border-radius: 100px;
    transform: translate(-15px);
 }

 .fonctionnement__card--icon {
    display: flex;
    margin: 0px 15px;
 }

 .fonctionnement__card--text {
    display: flex;
    font-size: 16px;
    font-weight: 500;
 }

 /* RESTAURANT */

 .restaurants {
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
    padding: 30px 0px;
 }

 .restaurants__title {
    display: flex;
    margin: 20px;
 }

 .restaurants__card {
    display: flex;
    flex-direction: column;
    height: 251px;
    border-radius: 15px;
    overflow: hidden;
    background-color: #FFFFFF;
    margin: 20px;
 }

 .restaurants__card--img {
    display: flex;
    box-sizing: border-box;
    height: 180px;
    object-fit: cover;
 }

 .restaurants__card__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
 }

 .restaurants__card__info__text {
    display: flex;
    flex-direction: column;
 }

 .restaurants__card__info--name {
    display: inline-flex;
    font-size: 18px;
    font-weight: 700;
    margin: 15px 0px 0px 0px;
 }

 .restaurants__card__info--location {
    display: inline-flex;
    font-size: 17px;
    font-weight: 300;
    margin: 2px 0px 0px 0px;
 }

 .restaurants__card__info--heart {
    display:inline-flex;
    font-size: 18px;
    margin: 10px 20px 0px 0px;
 }


 /* FOOTER */

 .footer__container {
    background-color: #353535;
    padding: 15px 0px 20px 30px;
    color: white;
 }

 .footer__container--h1 {
    font-family: Shrikhand,"cursive";
    font-size: 22px;
    font-weight: 200;
 }

 .footer__container--h4 {
    font-weight: 500;
    margin: 0px 0px 10px 0px;
}

.footer__container--p {
    font-weight: 300;
    margin: 0px 0px 10px 0px;
}

